	html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
		margin: 0;
		padding: 0;
		border: 0;
		font-size: 100%;
		font: inherit;
		vertical-align: baseline;
		font-family: 'Quicksand', sans-serif;
	}

	article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
		display: block;
	}

	body {
		line-height: 1;
	}

	ol, ul {
		list-style: none;
	}

	blockquote, q {
		quotes: none;
	}

	blockquote:before, blockquote:after, q:before, q:after {
		content: '';
		content: none;
	}

	table {
		border-collapse: collapse;
		border-spacing: 0;
	}

	body {
		-webkit-text-size-adjust: none;
	}

/* Box Model */

	*, *:before, *:after {
		-moz-box-sizing: border-box;
		-webkit-box-sizing: border-box;
		box-sizing: border-box;
	}


/* Basic */

	@-ms-viewport {
		width: device-width;
	}

	body {
		-ms-overflow-style: scrollbar;
	}

	@media screen and (max-width: 480px) {

		html, body {
			min-width: 320px;
		}

	}

	body {
		background-color: #000;
		background-image: url("../../images/bg.jpg");
		background-size: cover;
		background-position: top center;
	}

		body.is-loading *, body.is-loading *:before, body.is-loading *:after {
			-moz-animation: none !important;
			-webkit-animation: none !important;
			-ms-animation: none !important;
			animation: none !important;
			-moz-transition: none !important;
			-webkit-transition: none !important;
			-ms-transition: none !important;
			transition: none !important;
		}

/* Type */

	body, input, select, textarea {
		color: rgba(255, 255, 255, 0.65);
		font-family: "Source Sans Pro", Helvetica, sans-serif;
		font-size: 13pt;
		font-weight: 200;
		line-height: 1.65;
	}

		@media screen and (max-width: 1280px) {

			body, input, select, textarea {
				font-size: 12pt;
			}

		}

/* Wrapper */

	#wrapper {
		max-width: 68em;
		width: 100%;
		margin: 0 auto;
		padding: 0 2em;
		opacity: 1;
		filter: none;
		-moz-transition: opacity 1s ease, -moz-filter 1s ease;
		-webkit-transition: opacity 1s ease, -webkit-filter 1s ease;
		-ms-transition: opacity 1s ease, -ms-filter 1s ease;
		transition: opacity 1s ease, filter 1s ease;
	}

	body.is-loading #wrapper {
		opacity: 0;
		-moz-filter: blur(1px);
		-webkit-filter: blur(1px);
		-ms-filter: blur(1px);
		filter: blur(1px);
	}

	body.is-covered #wrapper {
		-moz-filter: blur(3px);
		-webkit-filter: blur(3px);
		-ms-filter: blur(3px);
		filter: blur(3px);
	}

/* Header */

	#header {
		text-align: center;
		padding: 6em 0 4em 0;
	}

		#header h1 {
			color: rgba(255, 255, 255, 0.65);
			font-size: larger;
		}

		#header .avatar {
			border-radius: 100%;
			display: inline-block;
			margin: 0 0 2em 0;
			padding: 0.5em;
			border: solid 1px rgba(255, 255, 255, 0.25);
			background-color: rgba(255, 255, 255, 0.075);
		}

			#header .avatar img {
				border-radius: 100%;
				display: block;
				width: 10em;
			}

		@media screen and (max-width: 1280px) {

			#header {
				padding: 4em 0 2em 0;
			}

		}

/* Footer */

	#footer {
		text-align: center;
		padding: 4em 0 4em 0;
	}

		#footer:before {
			content: '';
			border-top: solid 1px rgba(255, 255, 255, 0.25);
			width: 10em;
			display: block;
			margin: 0 auto 3em auto;
		}

		@media screen and (max-width: 1280px) {

			#footer {
				padding: 2em 0 2em 0;
			}

		}